﻿@model IEnumerable<Common.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_NotificationsPartial")


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="post" action="\items\search">
    Input category:
 

    <select name="category">
        @foreach(var category in 
            new WebApplication1.Controllers.ItemsController().GetCategories())
        {
            <option value="@category.Id">@category.Title</option>
        }

    </select>


    <input type="submit" value="search" />
</form>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category_Fk)
        </th>
        <th>Image</th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category_Fk)
        </td>
        <td>
            <img src="@item.ImagePath" style="width:50px; height:50px;" />


        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>


    </tr>
}

</table>
